:root {
  font-family: "Fira Sans", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0e2a3b;
  background-color: #f6fbff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f6fbff;
}

button {
  font-family: inherit;
}
